@import url('https://fonts.googleapis.com/css2?family=Anton&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
/* 
    font-family: "Anton", sans-serif;
    font-family: "Urbanist", sans-serif;
    font-family: "Roboto Mono", monospace;
    font-family: "Google Sans", sans-serif; 
    */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    color: #582F0E;
}

a {
    color: inherit;
    text-decoration: none;
}
header {
    position: fixed;
    width: 100%;
}
nav {
    margin: 1rem;
    padding: 0.5rem 0;

    background-color: #c2c5aa;
    border-radius: 64px;
    box-shadow: 0px 3px 5px 1px rgba(78, 42, 12, 0.35);

    display: flex;
    align-items: center;
    position: relative;
}
nav .left {
    user-select: none;
    margin-left: 0.5rem;
}
nav .middle {
    left: 50%;
    position: absolute;

    transform: translateX(-50%);
}
nav .right {
    margin-left: auto;
    margin-right: 0.5rem;
}


nav .left,
nav .right {
    background-color: #dda15e;
    display: flex;
    align-items: center;

    border-radius: 54px;
    min-height: 54px;
}

nav .left span,
.header .right .emeyl {
    font-family: "Urbanist", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;

    padding: 0.5rem 1rem;
    overflow: hidden;
}

nav img {
    display: block;
    border-radius: 50%;

    transition: transform 1.2s ease-in-out;
}
nav img:hover {
    transform: rotate(1080deg) scale(1.3);
}

nav .middle ul {
    font-family: "Urbanist", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;

    list-style: none;

    display: flex;
    gap: 1.5rem;
}
nav .middle li {
    position: relative;
    cursor: pointer;

    color: #936639;
    
    transition: color 0.4s ease, transform 0.15s ease, padding 0.3s ease;
}
nav .middle li::before {
    position: absolute;
    content: "";

    bottom: -0.4rem;
    left: 50%;
    opacity: 0;

    transform: translateX(-50%);

    width: 1px;
    height: 2px;

    border-radius: 128px;

    background-color: #936639;
    transition: width 0.5s ease, opacity 0.7s ease, background-color 0.2s ease;

    box-shadow: 0px 3px 5px 1px rgba(78, 42, 12, 0.25);
}
nav .middle li:hover::before {
    background-color: #582F0E;
    opacity: 1;
    width: calc(100% - 3.8rem);
}
nav .middle li:hover {
    color: #582f0e;
    padding: 0 2rem;
    transform: scale(1.2);
}

nav .right {
    position: relative;
}
nav .right .emeyl a {
    position: relative;
    cursor: default;

    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 0.9rem;

    display: flex;
    align-items: center;

    padding: 0 0.6rem;
    width: 9.5rem;
    transition: width 0.4s ease;
}
nav .right .emeyl a:hover {
    width: 20.6rem;
}
nav .right .emeyl span {
    cursor: pointer;
    position: relative;
    font-family: "Urbanist", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0 0.3rem;

    transition: opacity 0.2s ease, transform 0.3s ease;
}
nav .right .emeyl a::before {
    position: absolute;
    content: "";

    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);

    background-color: #936639;
    width: 0px;
    opacity: 0;
    height: 2px;
    border-radius: 128px;

    transition: width 0.8s ease, opacity 0.8s ease-in-out, background-color 0.2s ease;
}

nav .right .emeyl a:hover::before {
    background-color: #582f0e;
    width: calc(100% - 5.5rem);
    opacity: 1;
}

nav .right .github-logo {
    position: absolute;
    left: -50px;
}
nav .right .github-logo .github-info {
    pointer-events: none;
    position: absolute;

    bottom: -50px;
    left: 50%;
    transform: translate(-50%);

    background-color: #dda15e;

    padding: 0.4rem 1rem;
    border-radius: 12px;

    text-wrap: nowrap;

    font-family: "Urbanist", sans-serif;
    font-style: italic;
    font-weight: 500;

    box-shadow: 0px 0px 15px 1px rgba(78, 42, 12, 0.25);
}

main {
    background-color: red;
}
.hero {
    min-height: 100dvh;
    display: flex;
}
.left-content,
.right-content {
    width: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero img {
    width: 100%;
    max-width: 600px;
    height: auto;

    object-fit: contain;

    border-radius: 24px;
}