@import url('https://fonts.googleapis.com/css2?family=Anton&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
/* 
    font-family: "Anton", sans-serif;
    font-family: "Urbanist", sans-serif;
    font-family: "Roboto Mono", monospace;
    font-family: "Google Sans", sans-serif; 
    */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    color: #582F0E;
}

a {
    color: inherit;
    text-decoration: none;
}

.header {
    margin: 1rem;
    padding: 0.5rem 0;

    background-color: #c2c5aa;
    border-radius: 64px;

    display: flex;
    align-items: center;
    position: relative;
}
.header .left {
    margin-left: 0.5rem;
}
.header .middle {
    left: 50%;
    position: absolute;

    transform: translateX(-50%);
}
.header .right {
    margin-left: auto;
    margin-right: 0.5rem;
}


.header .left,
.header .right {
    background-color: #dda15e;
    display: flex;
    align-items: center;

    border-radius: 54px;
    min-height: 54px;
}

.header .left span,
.header .right .emeyl {
    font-family: "Urbanist", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;

    padding: 0.5rem 1rem;
    overflow: hidden;
}

.header img {
    display: block;
    border-radius: 50%;

    transition: transform 1.2s ease-in-out;
}
.header img:hover {
    transform: rotate(1080deg) scale(1.05);
}

.header .middle ul {
    font-family: "Urbanist", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;

    list-style: none;

    display: flex;
    gap: 1.5rem;
}
.header .middle li {
    position: relative;
    cursor: pointer;

    color: #936639;
    
    transition: color 0.4s ease, transform 0.15s ease, padding 0.3s ease;
}
.header .middle li::before {
    position: absolute;
    content: "";

    bottom: -0.4rem;
    left: 50%;
    opacity: 0;

    transform: translateX(-50%);

    width: 1px;
    height: 2px;

    border-radius: 128px;

    background-color: #936639;
    transition: width 0.5s ease, opacity 0.7s ease, background-color 0.2s ease;
}
.header .middle li:hover::before {
    background-color: #582F0E;
    opacity: 1;
    width: calc(100% - 3.8rem);
}
.header .middle li:hover {
    color: #582f0e;
    padding: 0 2rem;
    transform: scale(1.2);
}

.header .right {
    position: relative;
}
.header .right .emeyl {
    overflow: hidden;
}
.header .right .emeyl a {
    position: relative;
    cursor: default;

    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 0.9rem;

    display: flex;
    align-items: center;

    width: 8rem;
    transition: width 0.3s ease;
}
.header .right .emeyl a:hover {
    width: 19rem;
}
.header .right .emeyl span {
    cursor: pointer;
    position: relative;
    font-family: "Urbanist", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0 0.3rem;

    transition: opacity 0.2s ease, transform 0.3s ease;
}
.header .right .emeyl a::before {
    position: absolute;
    content: "";

    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);

    background-color: #936639;
    width: 0px;
    opacity: 0;
    height: 2px;
    border-radius: 128px;

    transition: width 0.8s ease, opacity 0.8s ease-in-out, background-color 0.2s ease;
}

.header .right .emeyl a:hover::before {
    background-color: #582f0e;
    width: calc(100% - 4rem);
    opacity: 1;
}

.header .right .github-logo {
    position: absolute;
    left: -50px;
}
.header .right .github-logo .github-info {
    pointer-events: none;
    position: absolute;

    bottom: -40px;
    left: 50%;
    transform: translate(-50%);

    background-color: darkgray;

    padding: 0.4rem 1rem;
    border-radius: 12px;

    text-wrap: nowrap;

    font-family: "Urbanist", sans-serif;
    font-style: italic;
    font-weight: 500;
}