@import url('https://fonts.googleapis.com/css2?family=Anton&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
/* 
    font-family: "Anton", sans-serif;
    font-family: "Urbanist", sans-serif;
    font-family: "Roboto Mono", monospace;
    font-family: "Google Sans", sans-serif; 

    change this and the colors and some things to custom property later
    */

:root {
    --default-text-color: #fffcf2;
    --default-navigation-background-color: #eb5e28;
    --default-navigation-pill-color: #252422;

    --shadow-color: rgba(235, 94, 40, 0.35);
    --shadow-color-two: rgba(37, 36, 34, 0.35);

    --default-main-background-color: #252422;
    --default-logo-html: #E8D0CA;
    --default-logo-css: #cadbe8;
    --default-logo-js: #f37220;

    --default-button-highlight: #EC6B38;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    color: var(--default-text-color);
}

html {
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}
header {
    position: fixed;
    width: 100%;
}
nav {
    margin: 1rem;
    padding: 0.5rem 0;

    background-color: var(--default-navigation-background-color);
    border-radius: 64px;
    box-shadow: 0px 0px 2px 1px var(--shadow-color);

    display: flex;
    align-items: center;
    position: relative;
}
nav .left {
    user-select: none;
    margin-left: 0.5rem;
}
nav .middle {
    left: 50%;
    position: absolute;

    transform: translateX(-50%);
}
nav .right {
    margin-left: auto;
    margin-right: 0.5rem;
}


nav .left,
nav .right {
    background-color: var(--default-navigation-pill-color);
    display: flex;
    align-items: center;

    border-radius: 54px;
    min-height: 54px;
}
nav .left img {
    width: 54px; 
    height: 54px;
}
nav .left a {
    font-family: "Urbanist", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;

    padding: 0.5rem 1rem;
    overflow: hidden;
    transition: 
        font-weight 0.8s ease, 
        transform 0.15s ease, 
        padding 0.3s ease, 
        letter-spacing 0.3s ease;
}
nav .left a:hover {
    font-weight: 1000;
    transform: scale(1.1);
    padding: 0.5rem 3rem;
    letter-spacing: 0.08rem;
}

nav img {
    -webkit-user-drag: none;

    display: block;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px var(--shadow-color-two);

    transition: 
        transform 1.2s ease-in-out, 
        box-shadow 1s ease;
}
nav img:hover {
    transform: rotate(1080deg) scale(1.3);
    box-shadow: 0px 0px 25px 1px var(--shadow-color);
}

nav .middle ul {
    font-family: "Urbanist", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;

    list-style: none;

    display: flex;
    gap: 1.5rem;
}
nav .middle li {
    position: relative;
    cursor: pointer;

    color: var(--default-text-color);
    font-weight: 400;
    
    transition: 
        color 0.4s ease, 
        transform 0.15s ease, 
        padding 0.3s ease, 
        font-weight 0.8s ease;
}
nav .middle li::before {
    position: absolute;
    content: "";

    bottom: -0.4rem;
    left: 50%;
    opacity: 0;

    transform: translateX(-50%);

    width: 1px;
    height: 2px;

    border-radius: 128px;

    background-color: var(--default-text-color);
    transition: 
        width 0.5s ease, 
        opacity 0.7s ease, 
        background-color 0.2s ease;

    box-shadow: 0px 3px 5px 1px var(--shadow-color-two);
}
nav .middle li:hover::before {
    background-color: var(--default-navigation-pill-color);
    opacity: 1;
    width: calc(100% - 3.8rem);
}
nav .middle li:hover {
    color: var(--default-navigation-pill-color);
    font-weight: 1000;

    padding: 0 2rem;
    transform: scale(1.2);
}
nav .right {
    position: relative;
}
nav .right .emailContainer {
    user-select: none;

    display: flex;
    align-items: center;
    padding: 0 0.8rem;

    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 0.9rem;
}
nav .right .emailContainer .email {
    user-select: auto;
    -webkit-user-drag: none;

    position: relative;
    padding: 0 0.2rem;

    font-family: "Urbanist", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;

    transition: 
        font-weight 0.7s ease,
        transform 0.15s ease, 
        padding 0.3s ease, 
        letter-spacing 0.2s ease, 
        color 0.3s ease;
}
nav .right .emailContainer .email:hover {
    padding: 0 1.2rem;

    font-weight: 1000;
    letter-spacing: 0.08rem;

    transform: scale(1.1);
}
nav .right .emailContainer .email::before {
    position: absolute;

    content: "";

    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--default-text-color);
    width: 0px;
    opacity: 0;
    height: 2px;
    border-radius: 128px;

    transition: 
        width 0.6s ease, 
        opacity 0.6s ease-in-out, 
        background-color 0.2s ease;
}
nav .right .emailContainer .email:hover::before {
    background-color: var(--default-navigation-background-color);
    box-shadow: 0px 1px 5px 1px var(--shadow-color);
    width: calc(100% - 2rem);
    opacity: 1;
}
nav .right .github-logo {
    -webkit-user-drag: none;

    position: absolute;
    left: -50px;
}
nav .right .github-logo img {
    width: 38px; 
    height: 38px;
}
nav .right .github-logo .github-info {
    pointer-events: none;
    position: absolute;

    bottom: -55px;
    left: 50%;
    transform: translate(-50%);

    background-color: var(--default-navigation-background-color);

    padding: 0.4rem 1rem;
    border-radius: 12px;

    text-wrap: nowrap;

    font-family: "Urbanist", sans-serif;
    font-style: italic;
    font-weight: 500;

    box-shadow: 0px 0px 15px 1px var(--shadow-color);
}


main {
    background-color: var(--default-main-background-color);
}
main .hero,
main .about {
    min-height: 100dvh;
    display: flex;
}
main .hero .left-content,
main .hero .right-content {
    width: 50%;
    min-height: calc(100dvh - 6.5rem);
    margin-top: 6.5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
main .hero img {
    width: 100%;
    max-width: 625px;
    height: auto;

    object-fit: contain;

    border-radius: 24px;
}
main .hero .right-content {
    font-family: "Google Sans", sans-serif; 

    display: flex;
    flex-direction: column;

    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
}
main .hero .right-content h1 {
    width: 100%;

    line-height: 2rem;
    font-size: 2.6rem;
}
main .hero .right-content h2 {
    width: 100%;

    font-size: 1.8rem;
    font-weight: 800;
}
main .hero .right-content hr {
    width: calc(100% - 4rem);
}
main .hero .right-content p {
    width: calc(100% - 4rem);

    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

main .hero .right-content .stack {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
main .hero .right-content .stack .stack_title {
    font-weight: 800;
    font-size: 1.5rem;
}
main .hero .right-content .stack ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
main .hero .right-content .stack li {
    user-select: none;
    font-family: "Roboto Mono", monospace;

    display: flex;
    align-items: center;
    gap: 0.7rem;

    font-weight: 800;
}
main .hero .right-content .stack li img {
    width: 64px;
    height: 32px;
    border-radius: 999px;
}
main .hero .right-content .stack li:nth-child(1) img {
    background-color: var(--default-logo-html);
}
main .hero .right-content .stack li:nth-child(2) img {
    background-color: var(--default-logo-css);
}
main .hero .right-content .stack li:nth-child(3) img {
    background-color: var(--default-logo-js);
}
main .hero .right-content .stack .hidedesc {
    margin-left: -0.5rem;
    opacity: 0;
    pointer-events: none;
    transition: 
        opacity 0.3s ease, 
        margin-left 0.3s ease;
}
main .hero .right-content .stack .hidedesc.reveal {
    margin-left: 0rem;
    opacity: 1;
    pointer-events: none;
}

main .hero .right-content .stack .important-btn {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    font-family: "Google Sans", sans-serif; 
    font-size: 1.2rem;
    font-weight: 800;
}
main .hero .right-content .stack .important-btn a {
    display: inline-block;
    font-weight: 400;

    padding: 0.6rem 1.2rem;

    border-radius: 4px;

    background-color: var(--default-navigation-background-color);
    box-shadow: 0px 0px 2px 1px var(--shadow-color);

    transition: 
        transform 0.3s ease, 
        margin 0.3s ease, 
        padding 0.3s ease, 
        font-weight 0.3s ease, 
        background-color 0.3s ease;
}
main .hero .right-content .important-btn .contact a {
    font-size: 2rem;
}
main .hero .right-content .stack .important-btn a:hover {
    transform: scale(1.15);
    
    font-weight: 1000;
    padding: 0.6rem 1.4rem;
    margin: 0rem 1rem;
    background-color: var(--default-button-highlight);
}